

/* makes the page go from blanched-almond background to a purple-gray gradient*/
@media only screen and (max-width: 1500px) {
body {
    display: flex;
    min-height: 100vh;
    background-image: conic-gradient(violet, beige, rgb(57, 57, 117));
    background-color:rgb(13, 125, 13)
   }
}
.header {
    padding: 20px;
    border: 1px solid;
    box-shadow: 5px 10px grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(37, 156, 156);
    color:black;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 50px;
}

/*add violet to text background when hovered over in about me, contact, etc space*/
a:hover {
    color:black;
    background-color: blueviolet;
    text-decoration: none;
}




@media only screen and (max-width:600px) {
p {
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
  }

}


.worldview, p {
    display: inline;
    padding-inline-start: 10px;
    flex: 0 0 80%;

}

.float-left {
    float: right;
    margin-left: 25px;

}

.float-right {
    float: right;
    margin-left: 25px;

}

.content {
    min-height: 100vh;
    position: relative;
    width: 75%;
    display: inline-block;
    margin-left: 20px;

}

img {
    width: 400px;
    height: 500px;
    object-fit: contain;
    border: 5px solid #555
    

}

/* consolidated sections under the file class that share the same traits*/
.informs {
    margin-right: 40px;
    position: relative;
    padding: 30px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:antiquewhite
    
}


.inform {
    margin-bottom: 32px;
    color:black

}

.flex-container, h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
/* there was an issue getting this to anchor at the bottom of the page, be wary in future*/
.footer {
    
    display: inline-block;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px grey;
    background-color: rgb(37, 156, 156);
}

   

